<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" style="float:left" placeholder="Global Filter">
</div>
<p-dataTable [value]="orders" [rows]="10" [paginator]="true" [globalFilter]="gb" sortMode="single">
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [filter]="true" [sortable]="true"></p-column>    
</p-dataTable>
